*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.card-home{
    cursor: pointer ;
     width: 350px;
     height:max-content;
     margin:20px;
}
.home{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}